body {
  margin: 0;
  text-align: center;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #40514E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: white;
  font-size: 300%;
  line-height: 2;
  margin-top: 0;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif
}

h2 {
  color: #112d4e;
  font-size: 2.5rem;
  padding: 10px;
}

h3 {
  color: black;
  line-height: 2;
}

p {
  line-height: 2;
}

p.title {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
}

p.intro {
  line-height: 2;
  width: 40%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 10px;
}


.top-container {
  background-color: #112d4e;
  padding-top: 50px;
}

.middle-container {
  padding-top: 100px;
  background-color: white;
}

.bottom-container {
  background-color: white;
}

.law {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cj {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hospital {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.climate {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code {
  width: 25%;
  float: right;
  margin-left: 30px
}

.criminal_justice {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.topnav {
  color: white;
}
